body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

.sidenav {
  height: 80%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 10;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.isactive {
  color: #f1f1f1;
}
/* .listTheatreTable {
  position: fixed;
  width: 100%;
} */

.seat-table {
  font-size: small !important;
}
.seat-selection {
  font-size: x-small !important;
}
.screen {
  width: 43%;
  height: 20px;
  background: #4388cc;
  color: #fff;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
}

.smallBox::before {
  content: ".";
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 15px;
}
.smallBox {
  margin-top: 5px;
}
.greenBox::before {
  content: "";
  background: Green;
}

.emptyBox::before {
  content: "";
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}

.seats {
  border: 1px solid red;
  background: yellow;
  margin-right: 5rem !important;
  margin-top: 2rem !important;
}

.seatGap {
  width: 40px;
}

.seatVGap {
  height: 40px;
}

table {
  text-align: center;
}

.Displaytable {
  text-align: center;
}
.Displaytable td,
.Displaytable th {
  border: 1px solid;
  text-align: left;
}

input[type="checkbox"] {
  width: 0px;
  margin-right: 18px;
}

input[type="checkbox"]:before {
  content: "";
  width: 15px;
  height: 19px;
  display: inline-block;
  /* vertical-align: middle; */
  text-align: center;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}

input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}
